<!-- @format -->

{% extends 'main/base.html' %} {% block content %}

<div class="main-container">
  <h1>Dashboard</h1>
  <div class="flex-container">
    <div class="row">
      <div class="col-md-4">
        <div class="card card1">
          <div class="card-body">
            <h5 class="card-title">Sales</h5>
            <p class="card-text">
              <span>{{ sales.count }}</span> sale(s) recorded
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card2">
          <div class="card-body">
            <h5 class="card-title">Purchases</h5>
            <p class="card-text">
              <span>{{ purchases.count }}</span> purchase(s) recorded
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card3">
          <div class="card-body">
            <h5 class="card-title">Employees</h5>
            <p class="card-text">
              <span>{{ employees.count }}</span> employee(s) recorded
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
