{% extends 'main/base.html' %}

{% block content %}
<div class="main-container">
<h2>Product Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.category_id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product_category_create' %}" class="btn btn-primary">New Category</a>
</div>
{% endblock %}
