<!-- @format -->

{% extends 'main/base.html' %} {% block content %}

<div class="main-container">
  <h1>Purchases</h1>

  <form method="get" class="form-inline mb-3">
    <div class="form-group mr-2">
      {{ form.start_date.label_tag }} {{ form.start_date }}
    </div>
    <div class="form-group mr-2">
      {{ form.end_date.label_tag }} {{ form.end_date }}
    </div>
    <div class="form-group mr-2">
      {{ form.supplier.label_tag }} {{ form.supplier }}
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>IMEI</th>
        <th>Supplier</th>
        <th>Unit Price</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for purchase in purchases %}
      <tr>
        <td>{{ purchase.purchase_id }}</td>
        <td>{{ purchase.purchase_date }}</td>
        <td>{{ purchase.product.name }}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{ purchase.imei }}</td>
        <td>{{ purchase.supplier }}</td>
        <td>{{ purchase.unit_price }}</td>
        <td>{{ purchase.price }}</td>

        <td>
          <a href="{% url 'purchase_detail' purchase.pk %}" class="btn btn-info"
            >View</a
          >
          <a
            href="{% url 'purchase_update' purchase.pk %}"
            class="btn btn-warning"
            >Edit</a
          >
          <a
            href="{% url 'purchase_delete' purchase.pk %}"
            class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'purchase_create' %}" class="btn btn-primary">New Purchase</a>
</div>

{% endblock %}
